<div class="login-page">
    <div class="form">
      <form *ngIf = '!status' class="register-form">
        <input [value]="name" type="text" placeholder="name"/>
        <input [value]="lastName" type="text" placeholder="last name"/>
        <input [value]="eMail" type="text" placeholder="email address"/>
        <input [value]="username" type="text" placeholder="username"/>
        <input [value]="password" type="password" placeholder="password"/>
        <button (click)="registerClick()">create</button>
        <p class="message">Already registered? <a href="#" (click)="click()">Sign In</a></p>
      </form>
      <form *ngIf = 'status' class="login-form">
        <input [value]="username" type="text" placeholder="username"/>
        <input [value]="password" type="password" placeholder="password"/>
        <button (click)="loginClick()">login</button>
        <p class="message">Not registered? <a href="#" (click)="click()">Create an account</a></p>
      </form>
    </div>
</div>