<div class="col-lg-8 col-lg-offset-2">
    <h1>Take Test </h1>
    <div *ngFor="let question of scheduledTest?.test_setup.questions; let i = index">
        <h5>Question {{i+1}}:</h5>
        <div>
            {{question.text}}        
        </div>
        <div *ngIf="question.question_type == 1">
            <!-- Basic question -->
            <textarea rows="3">

            </textarea>
        </div>
        <div *ngIf="question.question_type == 2">
            <!-- Question with predefined answers -->
            <div *ngFor="let predefined_answer of question.predefined_answers">
                <input type="checkbox" value="predefined_answer.id">{{predefined_answer.text}}
            </div>
        </div>
    </div>
</div>