<div id="dashboard-component">
    <h1 id="title">ETF online competition system</h1>
    <div class="main-buttons">
        <a routerLink="/takeTest" class="main-button">Take test</a>
        <a routerLink="/profilePage" class="main-button">Profile page</a>
        <a routerLink="/login" class="main-button">Logout</a>
    </div>
    <div id="listed-tests">
        <div class="test">
            <p>Subject: </p> <p>{{subject}}</p>
            <p>Test date/time: </p> <p>{{date_time}}</p>
            <p>Duration: </p> <p>{{duration}}</p>
        </div>
    </div>
</div>