
<br/>
 <div class="col-lg-12">

        <div class="alert alert-dismissible alert-info">
                <h5><strong>Available tests</strong></h5>
       </div>
        <div class="col-sm-6 col-md-6 col-lg-6" *ngFor="let test of tests"> 

            <div  (click)="takeTest(test.id)"class="panel panel-primary" >
                <div class="panel-heading">
                        <h3 class="panel-title"> Subject: {{test.subject}} </h3>
                </div>
                <div class="panel-body">
                        <div class="alert alert-dismissible alert-info">
                                <p><strong>Title: </strong> {{test.title}}</p>
                                <p><strong>Test date/time:</strong> {{test.start}}</p> 
                                <p><strong>Duration:</strong> {{test.duration}} hr.</p>
                        </div>

                 </div> 


            </div>
        </div>
   
 </div>
<div class="col-lg-12">
        <div class="alert alert-dismissible alert-success">
                 <h5><strong>Submitted tests</strong> </h5>
        </div>
        <div  class="col-sm-6 col-md-6 col-lg-6" *ngFor="let t of submittedTests" > 
                
                
                <div *ngIf="t.points_sum != null"  (click)="reviewed()" class="panel panel-success" >
                        <div class="panel-heading">
                                <h3 class="panel-title"> Subject: {{t.subject}} </h3>
                        </div>
                        <div class="panel-body">
                                <div class="alert alert-dismissible alert-info">
                                        <p><strong>Title: </strong> {{t.title}}</p>
                                        <p><strong>Test reviewed:</strong> {{t.reviewed}}</p> 
                                        <p><strong>Test points_sum:</strong> {{t.points_sum}} </p>
                                </div>

                        </div> 

                </div>
       
 
               
                <div *ngIf="t.points_sum == null"  (click)="notReviewed()"  class="panel panel-warning" >
                        <div class="panel-heading">
                                <h3 class="panel-title"> Subject: {{t.subject}} </h3>
                        </div>
                        <div class="panel-body">
                                <div class="alert alert-dismissible alert-info">
                                        <p><strong>Title: </strong> {{t.title}}</p>
                                        <p><strong>Test reviewed:</strong> {{t.reviewed}}</p> 
                                        <p><strong>Test points_sum:</strong> {{t.points_sum}}</p>
                                </div>

                        
                                
                        </div>
                </div>
        </div>
</div> 






