@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.dashboard-component {

}

ul {
    padding: 0;
    margin: 0;
}

.test {
    background: #4CAF50;
    list-style-type: none;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.test:hover {
    background: rgb(0, 158, 6);
}

#p {
    display: inline-flex;
}